table.customers th, table.customers td, table.accounts th, table.accounts td {
    border : 1px solid black;
}

table.customers, table.accounts {
    border-spacing : 0px;
}

span.field-validation-error {
    color: red;
}