table th, table td {
    border : 1px solid black;
}

table {
    border-spacing : 0px;
}

span.field-validation-error {
    color: red;
}

.transactionResult {
    color: gray;
    font-weight: bold;
}