@using WildWestBankApp.Models

@model OperationViewModel

@{
    ViewBag.Title = "Operation";
}

<h2>Operation</h2>

@using (@Html.BeginForm()) {
    <table>
        <tr>
            <td>@Html.Label("Choose type of the operation"):</td>
            <td></td> <!-- Здесь нужно сделать выпадающий список имеющихся видов транзакций -->
        </tr>
    </table>
    <input type="submit" value="Add the customer" />
}